<footer class="single">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <img alt="Nece" class="user-icon" src="/assets/images/nece-x2.jpg">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="category-list">
          <p> Published <span>{{ page.date | date_to_long_string }}</span></p>
          <p>BY Nece
            In <a href="{{ page.category_url }}">{{ page.category }}</a>
          </p>
          <p>Nece is a maker, gardener and mom. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="social">
          <p>Reach me at</p>
          <a class="social-icon" href="https://www.youtube.com/channel/UCK1dtaSBh-PluH6ClA6qdsA" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row read-another-section">
    {% assign publishedPosts = site.posts | where: 'layout', 'post' %}
    {% assign filtered_posts = publishedPosts | sample: 6 %}
    {% for post in filtered_posts %}
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 no-gutter read-another-container">
        <a href="{{ post.url }}">
          <div class="parent">
            <div class="child" style="background-image: url({{ post.hero-image-url }})">
              <span class="read-another">
                <!-- <strong><h3>{{ post.title }}</h3></strong> -->
              </span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</footer>